body {
  font-family: 'Roboto', sans-serif;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  padding: 70px 15px 0;
}

main .resume .resume-image {
  background: #f5f5f5;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .project img {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media screen and (max-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .footer > .container {
    text-align: center;
  }
}