<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.6">
  <title>Resume</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- Font Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- css file -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Custom styles for this template -->
</head>
<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"><?php echo $name;?></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Enlace</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container resume">
      <div class="row">
        <div class="col-sm-3 resume-image">
          <img class="img-fluid" src="/img/logo.svg" alt="logo">
        </div>
        <div class="col-sm-9 resume-text pl-sm-4">
          <h1>{{ $name }}</h1>
          <h2>{{ $profesion }}</h2>
          <div>
            <ul>
              <li>Mail: bernardinovillagra@hotmail.com</li>
              <li>Phone: 0981 268 219</li>
              <li>Linkedin: https://linkedin.com</li>
              <li>Twitter: @villagrabaez</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container summary">
      <div class="row">
        <div class="col-12">
          <h2 class="title summary-title mt-3">Carrer Summary</h2>
          <p class="summary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis reiciendis, est aliquid culpa nesciunt aperiam fugiat sunt eaque, dignissimos praesentium non tempora mollitia facilis exercitationem veritatis eligendi quam. Vitae, expedita! Accusamus tempora quam non quod et, dolor ad eum nisi doloremque soluta similique voluptatem in dolorum vitae hic, voluptatum optio sunt reprehenderit! Eligendi vero ad sint impedit ab saepe dolores labore tempora omnis laborum aperiam molestiae nisi modi, in voluptas nostrum maxime consequatur, quia esse asperiores minima. Eveniet recusandae, hic labore, nihil doloremque sequi inventore laborum consequatur laboriosam id perferendis cum ipsa deserunt consequuntur totam commodi dolore doloribus similique sint porro! Iusto voluptate quos, et necessitatibus, molestiae aperiam debitis cumque iste ipsa non aut qui. Modi laboriosam corrupti voluptate natus, ut itaque molestias similique blanditiis omnis dolore, cum ipsam atque dolorum neque deleniti rem nobis tempora assumenda autem dignissimos error! Corporis voluptatum magni ut tenetur, minima ducimus odit soluta deleniti!</p>
        </div>
      </div>
    </div>
    <div class="container experince">
      <div class="row">
        <div class="col-md-9">
          <div>
            <h2 class="title">Work Experience</h2>
            <?php foreach($jobs as $job){ ; ?>
            <ul>
              <li>
                <h3><?php echo $job->title; ?></h3>
                <p><?php echo $job->description;?></p>
                <p><?php echo $job->getDurationAsString();?></p>
                <h5>Achiements:</h5>
                <ul>
                  <?php /* foreach($job->getAchiements() as $achiement) { ;?>
                    <li><?php echo $achiement;?></li>
                  <?php } */ ;?>
                </ul>
              </li>
            </ul>
            <?php }; ?>
          </div>
          <div>
            <h3 class="title">Projects</h3>
            <div class="project mb-4">
              <h5>Porject X</h5>
              <div class="row">
                <div class="col-3">
                  <img src="../img/source-code--v3.png" class="img-fluid" alt="">
                </div>
                <div class="col-9">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non vero quod similique, dolorem harum fugit accusamus! Nostrum laudantium a, perferendis optio quibusdam dolorum magni. Quasi nam nesciunt illum? Ipsum animi dolor est cupiditate, quae possimus maiores nihil error eum ratione, ducimus inventore asperiores distinctio?</p>
                  <strong>Tecnhologies used:</strong>
                  <span class="badge badge-secondary">PHP</span>
                  <span class="badge badge-secondary">HTML</span>
                  <span class="badge badge-secondary">CSS</span>
                </div>
              </div>
            </div>

            <div class="project mb-4">
              <h5>Porject X</h5>
              <div class="row">
                <div class="col-3">
                  <img src="../img/source-code--v3.png" class="img-fluid" alt="">
                </div>
                <div class="col-9">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non vero quod similique, dolorem harum fugit accusamus! Nostrum laudantium a, perferendis optio quibusdam dolorum magni. Quasi nam nesciunt illum? Ipsum animi dolor est cupiditate, quae possimus maiores nihil error eum ratione, ducimus inventore asperiores distinctio?</p>
                  <strong>Tecnhologies used:</strong>
                  <span class="badge badge-secondary">PHP</span>
                  <span class="badge badge-secondary">HTML</span>
                  <span class="badge badge-secondary">CSS</span>
                </div>
              </div>
            </div>

            <div class="project mb-4">
              <h5>Porject X</h5>
              <div class="row">
                <div class="col-3">
                  <img src="../img/source-code--v3.png" class="img-fluid" alt="">
                </div>
                <div class="col-9">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non vero quod similique, dolorem harum fugit accusamus! Nostrum laudantium a, perferendis optio quibusdam dolorum magni. Quasi nam nesciunt illum? Ipsum animi dolor est cupiditate, quae possimus maiores nihil error eum ratione, ducimus inventore asperiores distinctio?</p>
                  <strong>Tecnhologies used:</strong>
                  <span class="badge badge-secondary">PHP</span>
                  <span class="badge badge-secondary">HTML</span>
                  <span class="badge badge-secondary">CSS</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h2 class="title">
            Skills & Tools
          </h2>

          <h3>
            Backend
          </h3>
            <ul>
              <li>PHP</li>
            </ul>
          
          <h3>
            Frontend
          </h3>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
            
          <h3>
            Frameworks
          </h3>
            <ul>
              <li>Laravel</li>
            </ul>

          <h3>
            Bases de Datos
          </h3>
            <ul>
              <li>MySQL</li>
              <li>PostgreSQL</li>
            </ul>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Desarrollado con ❤ por <strong>Bernardino Villagra</strong></span>
    </div>
  </footer>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>